.filme-detalhes {
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}

.filme-detalhes h1 {
    margin: 20px 0;
    font-size: 24px;
}

.filme-detalhes img {
    border-radius: 8px;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 50vh; 
    object-fit: contain; 
    margin-top: 20px;
}

.filme-detalhes h3 {
    margin-top: 15px;
    font-size: 20px;
}

.filme-detalhes span {
    margin: 8px 0;
    font-size: 18px;
    white-space: pre-line; 
}

.filme-detalhes strong {
    margin-top: 15px;
    font-size: 20px;
}

.area-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.area-buttons button,
.area-buttons a {
    margin: 8px;
    font-size: 16px;
    padding: 10px 14px;
    background-color: brown;
    color: aliceblue;
    text-decoration: none;
}

.area-buttons button:hover {
    background-color: rgb(20, 66, 1);
    color: aliceblue;
}

.area-buttons a:hover {
    color: rgb(255, 253, 253);
    background-color: rgb(20, 66, 1);
}

.detalheFinal {
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    .filme-detalhes img {
        max-width: 70%; 
        height: auto;
        margin: 20px auto;
    }
}